#post_title
  .rates
    Rating:
    = post.voted_rate
  %h3
    %span
      = link_to post.title, post
.row
  .col-md-10
    %h4
      = post.body
    %br
    %br
    %h6
      = post.tags
  .col-md-2
    - if post.user == current_user
      %p
        = link_to edit_post_path(post) do
          = content_tag(:button, class: 'btn btn-warning') do
            Edit
      %p
        = link_to post, method: :delete, data: { confirm: 'Are you sure?' } do
          = content_tag(:button, class: 'btn btn-danger') do
            Destroy
    %p
      = image_tag avatar_url(post.user)
    %p
      Created by :
      = post.user.name
    %p
      Created at:
      = post.created_at.strftime('%d/%m/%Y')