%p#notice
  = notice

.row
  .col-md-10
    .rates
      Rating:
      = link_to_if post_owner?(@post), "", votes_path(@post, vote: 'positive'), method: :post, class: 'glyphicon glyphicon-chevron-up', remote: true
      %span#voted_rate
        = @post.voted_rate
      = link_to_if post_owner?(@post), "", votes_path(@post, vote: 'negative'), method: :post, class: 'glyphicon glyphicon-chevron-down', remote: true
    %h1
      = @post.title
  .col-md-2
    %h1
      = link_to root_path do
        = content_tag(:button, class: 'btn btn-info') do
          Back
.row
  .col-md-12
    %h4
      = @post.body
    %br
    %br
    %h6
      = @post.tags
- if @post.user == current_user
  = link_to edit_post_path(@post) do
    = content_tag(:button, class: 'btn btn-warning') do
      Edit
%hr
%h4 Comments:
- @comments.each do |c|
  .next_level
    %blockquote
      %p
        = c.comment
      %small.pull-right.reply
        = link_to 'Reply', new_post_comment_path(@post, parent_id: c.id), remote: true, class: "add_comment#{c.id}"
        - if user_can_delete_comment?(c)
          &#124
          =link_to 'Delete Comment', delete_comment_path(c), method: :delete, data: { confirm: 'Are you sure?' }
      %small
        = c.user.name
        &#124
        = c.created_at.strftime('%d.%m.%Y')
      = render 'comments/comment', comments: c.descendants.arrange
%br
%p
- if current_user
  = link_to new_post_comment_path(@post, parent_id: @post.id), remote: true, id: 'show_new_comment_form' do
    = content_tag(:button, class: 'btn btn-primary') do
      Add Comment