%p#notice
  = notice

.row
  .col-md-10
    .rates
      Rating:
      = link_to_if post_owner?(@post), "", votes_path(@post, vote: 'positive'), method: :post, class: 'glyphicon glyphicon-chevron-up', remote: true
      %span#voted_rate
        = @post.voted_rate
      = link_to_if post_owner?(@post), "", votes_path(@post, vote: 'negative'), method: :post, class: 'glyphicon glyphicon-chevron-down', remote: true
    %h1
      = @post.title
  .col-md-2
    %h1
      = link_to root_path do
        = content_tag(:button, class: 'btn btn-info') do
          Back
.row
  .col-md-12
    %h4
      = @post.body
    %br
    %br
    %h6
      = @post.tags
- if @post.user == current_user
  = link_to edit_post_path(@post) do
    = content_tag(:button, class: 'btn btn-warning') do
      Edit
%hr
%h4 Comments:
- @post.comments.roots.each do |c|
  = render 'comments/comment', comments: [c] if c.present?
%br
- if current_user
  = link_to new_post_comment_path(@post, parent_id: 0), remote: true, id: 'show_new_comment_form' do
    = content_tag(:button, class: 'btn btn-primary') do
      Add Comment