<!DOCTYPE html>
<html>
<head>
  <title>SimpleBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = 'wrapper' class = 'center-block'>
  <div id = 'header'>
    <h1>Simple<span>Blog</span></h1>
    <%= link_to "Back To Main Page", root_path, class: 'back_to_main' unless current_page?(root_path) %>
    <div class = 'user_info'>
      <% if current_user %>
        <%= current_user.name %>
        <%= current_user.email %>
        <span class = 'v-bar'>&#124</span>
        <%= link_to "Exit", sessions_logout_path %>
      <% else %>
        <%= link_to "Sign In", sign_in_path%>
        <span class = 'v-bar'>&#124</span>
        <%= link_to "Register New User", sign_up_path %>
      <% end %>
    </div>
  </div>
  <div id = 'content'>
    <%= yield %>
  </div>
</div>
</body>
</html>
