!!!
%html
  %head
    %title SimpleBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper.center-block
      - if cookies[:views]%10 == 0
        #banner.center-block
          %h2 Learning it is light. Do this together with GeekHub!
      #header
        %h1
          Simple
          %span Blog
        = link_to "Back To Main Page", root_path, class: 'back_to_main' unless current_page?(root_path)
        = render 'layouts/user_info'
      #content
        = yield